<%- include('layout/header')  %>

<div class="container">
    <div class="row my-4">
        <form action="/add" method="post" id="add-form" enctype="multipart/form-data"  class="card bg-light mb-3" style="width: 80rem;">
            <fieldset class="col-lg-6 mx-auto mt-4">
                <span class="badge bg-primary"><h3>Add New User</h3></span>
              <div class="form-group">
                <label for="name" class="form-label mt-4">Name</label>
                <input type="text" name="name" class="form-control" id="exampleInputEmail1" aria-describedby="textHelp" placeholder="Enter name">
              </div>
              <div class="form-group">
                <label for="email" class="form-label mt-4">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
              </div>
              <div class="form-group">
                <label for="phone" class="form-label mt-4">Phone</label>
                <input type="text" name="phone" class="form-control" id="exampleInputPassword1" placeholder="Enter Phone" autocomplete="off">
              </div>
              <div class="form-group">
                <label for="image" class="form-label mt-4">Select Image</label>
                <input class="form-control" type="file" name="image" id="formFile">
              </div>
             
              <div class="mb-3 d-grid">
                <input type="submit" name="submit" value="Add User" class="btn btn-primary btn-lg"/>
              </div>
            </fieldset>
          </form>
    </div>
</div>

<%- include('layout/footer')  %> 